# ---- Python ----
**/.venv/
**/venv/
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.pytest_cache/

# ---- Terraform ----
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!**/*.tfvars.example
**/.terraform.lock.hcl

# ---- Secrets / local env ----
**/config.env
**/*.vault
.vault_pass
**/.env

# ---- Ansible ----
**/collections/ansible_collections/
*.retry

# ---- Editor / OS ----
.DS_Store
.idea/
